dry/.idea/
dry/cmake-build-debug/
dry/CMakeLists.txt
wet/*.o
wet/.idea/
wet/cmake-build-debug/
wet/my_main.cpp
wet/main.cpp
wet/Code_Skeleton/Part1/*.o
wet/Code_Skeleton/Part2/*.o
wet/GameOfLife
wet/Code_Skeleton/.depend